<html>
<head>
    <title>Smart Shopping List</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'SmartShoppingList/bulma.min.css' %}">
    <script src="{% static 'SmartShoppingList/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'SmartShoppingList/index.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>
<body class="container is-primary">
    <div class="columns">
        <div class="column is-one-third"></div>
        <div class="column is-one-third has-text-centered">
            <h6 class="is-family-primary has-text-weight-light">Smart Shopping List</h6>
        </div>
        <div class="column is-one-third"></div>
    </div>
    <form action='{% url "smartShoppingList:index" %}' method="POST">
        {% csrf_token %}
        <div class="columns">
            <div class="column is-half">
                <label class="label">Name</label>
                <div class="control">
                    {{form.name}}
                </div>
            </div>
            <div class="column">
                <label class="label">Quantity</label>
                <div class="control">
                    {{form.quantity}}
                </div>
            </div>
            <div class="column">
                <label class="label"></label><br/>
                <div class="control">
                    <input class="button is-primary" type="submit" value="+">
                </div>
            </div>
        </div>
    </form>
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <td class="has-text-centered">Name</td>
            <td class="has-text-centered">Quantity</td>
            <td class="has-text-centered">Remove from list</td>
        </thead>
        <tbody>
            {% for x in items %}
                <tr>
                    <td class="has-text-centered">{{x.name}}</td>
                    <td class="has-text-centered">{{x.quantity}}</td>
                    <td class="has-text-centered"><button class="fas fa-trash-alt button is-primary" onclick='deleteItem({{x.pk}})'></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>